@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	/*	font-family: 'BM JUA', '배달의민족 주아', sans-serif;*/
	font-family: 'Jeju Gothic', sans-serif;
	overflow-x: hidden;
	font-weight: bold;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

#settingWrap {
	position: absolute;
	z-index: 1;
	background-size: cover;
	width: 330px;
	margin-top: 200px;
	margin-left: 145px;
}

#playerCount {
	width: 130px;
	text-align: center;
	float: right;
}

#gameRuleTitle {
	margin: 16px 0px;
}

#gameRule {
	width: 100%;
	padding: 0;
}

#initButton {
	margin-top: 8px;
	width: 100%;
	line-height: 2em;
	background: #ccc;
	text-align: center;
	cursor: pointer;
}

#roomListWrap {
	width: 1200px;
	height: 640px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -320px;
	margin-left: -600px;

}

#roomListWrap h1 {
	font-size: 30px;
	margin-bottom: 10px;
	text-align: center;
}

#roomList {
	width: 100%;
	height: 600px;
	overflow-y: scroll;
	border: 1px solid #434343;
}

#roomList li {
	width: 100%;
	height: 50px;
	cursor: pointer;
}

#roomList li div {
	border-bottom: 1px solid #434343;
	padding-left: 2%;
	width: 98%;
	line-height: 2em;
}

.createRoom {
	text-align: center;
	line-height: 3em;
	width: 100%;
	background: #434343;
	color: #fff;
	cursor: pointer;
}
#roomNameWrap{
	display: none;
}
#createRoomContent{
	width:500px;
	height:100px;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-50px;
	margin-left:-250px;
	
}
#createRoomContent input{
	width:98%;
	padding-left:2%;
	height:50px;
	margin-bottom:10px;
	font-size:24px;
}
#tableWrap {
	width: 1200px;
	height: 640px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -320px;
	margin-left: -600px;
	display: none;
}

#tableWrap::after {
	content: "";
	background-size: cover;
	opacity: 0.6;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 960px;
	height: 640px;
	float: left;
}

tr {
	width: 100%;
	padding: 0;
	margin: 0;
}

td {
	word-wrap: break-word
}

.tile {
	text-align: center;
	padding: 0;
	margin: 0;
	background-size: 100% 100%;
	vertical-align: middle;
	font-size: 14px;
	width: 80px !important;
	height: 80px !important;
}


#diceWrap {
	position: absolute;
	top: 300px;
	left: 600px;
	z-index: 3;
	display: none;
}

#logWrap {
	width: 235px;
	height: 640px;
	top: 0;
	float: right;
}

#logWrap #logMenu {
	width: 100%;
}

#logWrap #logMenu li {
	float: left;
	width: 60px;
	margin: 0 10px;
	line-height: 1.5em;
	text-align: center;
	cursor: pointer;
	color: #fff;
	background: #ccc;
}

.logContent {
	width: 100%;
	height: 590px;
	margin-bottom: 10px;
	margin-top: 25px;
	display: none;
	overflow-y: scroll;
	border: 1px solid #ccc;
}

#chatWrap {
	width: 100%;
	bottom: 10px;
	right: 0;
}

#chatWrap input {
	width: 180px;
	padding-left: 5px;
}

.dice {
	width: 90px;
	height: 90px;
	background: url(../images/dice.png) no-repeat;
}

.dice_1 {
	background-position: -5px -4px
}

.dice_2 {
	background-position: -5px -107px
}

.dice_3 {
	background-position: -5px -212px
}

.dice_4 {
	background-position: -5px -317px
}

.dice_5 {
	background-position: -5px -427px
}

.dice_6 {
	background-position: -5px -535px
}

.dice_t {
	background-position: -5px -651px
}

.dice_s {
	background-position: -5px -763px
}

.dice_e {
	background-position: -5px -876px
}

p#result {
	text-align: center;
	font-size: 16px
}

p#result span {
	font-weight: bold;
	color: #f30;
	margin: 6px
}

#dice_mask {
	width: 90px;
	height: 90px;
	background: #fff;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999
}

.panel {
	border: 1px solid #434343;
	position: relative;
}

.journey {
	border: 1px solid #434343;
}

#moveBoard {
	border: 0;
}

#moveBoard .tile {
	border: 0;
}

#goldKeyWrap {
	display: none;
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 4;
}


.card {
	width: 500px;
	height: 260px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -130px;
	margin-left: -250px;
	cursor: pointer;


	/* Set the transition effects */
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	-o-transition: -o-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.card.flipped {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.card .front,
.card .back {
	display: block;
	height: 100%;
	width: 100%;
	line-height: 260px;
	color: white;
	text-align: center;
	font-size: 4em;
	position: absolute;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;

	box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.25);
}

.card .back {
	width: 94%;
	padding-left: 3%;
	padding-right: 3%;
	font-size: 16px;
	text-align: left;
	line-height: 25px;

}

.formItem:first-child {
	margin-top: 20px;
}

.card .back label {
	display: inline-block;
	width: 70px;
	text-align: left;
}

.card .front {
	background: #222222;
}

.card .back {
	background: #444444;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.container:first-child .card .front {
	background: #ffd700;
}

.container:first-child .card .back {
	background: #ffd700;
}

.cardTitle {
	font-size: 1.4em;
	line-height: 1.2em;
	margin: 0;
}

#goldKeyContent {
	color: #000;
	font-size: 24px;
}

#dialogWrap {
	display: none;
}

#goldKeyStatus {
	position: absolute;
	width: 500px;
	top: 0;
	left: 0;
	margin-top: 150px;
	margin-left: 90px;
	display: none;
	font-size: 20px;
}

#goldKeyStatus h4 {
	text-align: center;
	margin-bottom: 24px;
}

#dialogContent {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -35px;
	color: #fff;
	text-align: center;
	width: 500px;
	font-size: 70px;
}

.blink {
	animation: blink-animation 1s steps(5, start) infinite;
	-webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
	to {
		visibility: hidden;
	}
}

@-webkit-keyframes blink-animation {
	to {
		visibility: hidden;
	}
}

#turnStatus {
	position: absolute;
	top: 500px;
	left: 150px;
	font-size: 24px;
}

.clearFix {
	content: "";
	display: block;
	clear: both;
}
.fullSize{
/*	display: none;*/
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 4;
}