html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	font-family: 'BM JUA', '배달의민족 주아', sans-serif;

}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

#settingWrap {
	position: absolute;
	z-index: 1;
	background-size: cover;
	width: 330px;
	margin-top: 200px;
	margin-left: 145px;
}

#playerCount {
	width: 130px;
	text-align: center;
	font-family: 'BM JUA', '배달의민족 주아', sans-serif;
	float: right;
}

#gameRuleTitle {
	margin: 16px 0px;
}

#gameRule {
	width: 100%;
	padding: 0;
}

#initButton {
	margin-top: 8px;
	width: 100%;
	line-height: 2em;
	background: #ccc;
	text-align: center;
	cursor: pointer;
}



#tableWrap {
	width: 1240px;
	height: 740px;
	position: relative;

}

#tableWrap::after {
	content: "";

	background-size: cover;
	opacity: 0.6;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	height: 100%;
	border: 7px solid #000;
}

tr {
	width: 100%;
	padding: 0;
	margin: 0;
}

td {
	word-wrap: break-word
}

.tile {
	text-align: center;
	padding: 0;
	margin: 0;
	background-size: 100% 100%;
	vertical-align: middle;
	font-size: 14px;
	width: 130px !important;
	height: 90px !important;
}


#diceWrap {
	position: absolute;
	bottom: 25%;
	left: 25%;
	z-index: 3;
	display: none;
}

div.dice {
	float: left;
	width: 32px;
	background: #F5F5F5;
	border: #999 1px solid;
	padding: 10px;
	font-size: 24px;
	text-align: center;
	margin: 5px;
}

.panel {
	border: 1px solid #434343;
	position: relative;
}

.journey {
	border: 1px solid #434343;
}

#moveBoard {
	border: 0;
}

#moveBoard .tile {
	border: 0;
}

#goldKeyWrap {
	display: none;
	position: absolute;
	top: 0;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 4;
}


.card {
	width: 500px;
	height: 260px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -130px;
	margin-left: -250px;
	cursor: pointer;


	/* Set the transition effects */
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	-o-transition: -o-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.card.flipped {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.card .front,
.card .back {
	display: block;
	height: 100%;
	width: 100%;
	line-height: 260px;
	color: white;
	text-align: center;
	font-size: 4em;
	position: absolute;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;

	box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.25);
}

.card .back {
	width: 94%;
	padding-left: 3%;
	padding-right: 3%;
	font-size: 16px;
	text-align: left;
	line-height: 25px;

}

.formItem:first-child {
	margin-top: 20px;
}

.card .back label {
	display: inline-block;
	width: 70px;
	text-align: left;
}

.card .front {
	background: #222222;
}

.card .back {
	background: #444444;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.container:first-child .card .front {
	background: #ffd700;
}

.container:first-child .card .back {
	background: #ffd700;
}

.cardTitle {
	font-size: 1.4em;
	line-height: 1.2em;
	margin: 0;
}

#goldKeyContent {
	color: #000;
	font-size: 24px;
}

#dialogWrap {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 4;


}
#goldKeyStatus{
	position:absolute;
	width:300px;
	top:0;
	left:0;
	margin-top:120px;
	margin-left:130px;
	display: none;
}
#goldKeyStatus h4{text-align: center;margin-bottom:10px;}
#statusList li{padding:8px 0;}
#dialogContent {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -35px;
	color: #fff;
	text-align: center;
	width: 500px;
	font-size: 70px;
}

.blink {
	animation: blink-animation 1s steps(5, start) infinite;
	-webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
	to {
		visibility: hidden;
	}
}

@-webkit-keyframes blink-animation {
	to {
		visibility: hidden;
	}
}
